html {
  font-family: 'Roboto', sans-serif;
}

body {
  font-size: 13px;
  line-height: 20px;
  margin:0;
}

/*.mui-table-header-column:first-child {
	display: none;
}

.mui-table-row-column:first-child {
	display: none;
}*/